# --- Python (AI-service & Scraper) ---
**/venv/
**/.venv/
**/__pycache__/
*.py[cod]
*$py.class
.env
.pytest_cache/
final_kubernetes_deployment/01-secrets.yml

# --- Node.js (Backend/Frontend) ---
**/node_modules/
.npm
**/.cache/
package-lock.json
yarn.lock

# --- Java (Spring Boot) ---
**/target/
*.class
*.war
*.ear
*.jar

# --- Databases & Vector Stores ---
# We generally ignore local DB states to keep the repo clean
**/chroma_db/
**/*.sqlite3
**/*.log

# --- IDE & OS ---
.DS_Store
.idea/
.vscode/
*.swp