# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
env.bak/
venv.bak/

# Environment Variables
.env
.env.local

# Docker
Dockerfile
.dockerignore

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Project specific
output/
installed.txt
