# API KEYS / SECRET CREDENTIALS
TWILIO_SID = 
TWILIO_AUTH_TOKEN = 
TWILIO_NUMBER = 
GROQ_API_KEY=
OPENROUTER_API_KEY=

# MICRO SERVICES URL'S (VARIOUS SERVICES IN THE ASSESSMENT PIPELINE USE THESE FOR INTER SERVICE COMMUNICATION)
QUESTIONNAIRE_SERVICE_URL=http://questionnaire:8082
SCREENING_SERVICE_URL=http://screening:8081
CLASSIFIER_SERVICE_URL=http://classifier:9000
AI_SERVICE_URL=http://ai:8000

#   USED BY BACKEND TO COMMUNICATE WITH THE ASSESSMENT PIPELINE AND EMERGENCY SERVICES
AI_URL_START=http://gateway:8080/api/gateway/start
AI_URL_ANSWER=http://gateway:8080/api/gateway/answer
CALL_API_URL=http://emergency:8084/crisis/call?to=%2B91
SMS_API_URL=http://emergency:8084/crisis/sendSms?to=%2B91

# MONGO DB URLS AND CREDENTIALS
MONGO_URI=mongodb://admin:password@mongo:27017/mindsky?authSource=admin
MONGO_INITDB_DATABASE=mindsky
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=password
CW_MONGO_URI=mongodb://admin:password@mongo:27017/mindsky?authSource=admin

#REDIS
REDIS_HOST=redis
REDIS_PORT=6379

#POSTGRES CRISIS DB CREDENTIALS
POSTGRES_DB=crisis_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
SPRING_DATASOURCE_URL=jdbc:postgresql://postgis-db:5432/crisis_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres