
SPRING_DATASOURCE_URL: <YOUR POSTGRES DATASOURCE URL>
SPRING_DATASOURCE_USERNAME: <YOUR POSTGRES DATASOURCE USERNAME>
SPRING_DATASOURCE_PASSWORD: <YOUR POSTGRES DATASOURCE PASSWORD>

TWILIO_SID = <YOUR TWILIO SID>
TWILIO_AUTH_TOKEN = <YOUR TWILIO AUTH TOKEN>
TWILIO_NUMBER = <YOUR TWILIO GENERATED PHONE NUMBER>